.form-control:focus {
  border-color: #9dd661;
  box-shadow: inset 0 1px 1px #9dd661, 0 0 8px #9dd661;
}

button {
  background-color: white;
  border-radius: 15%;
}

button:focus {
  outline-width: thick;
  outline-color: #9dd661 !important;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.dropdown-menu {
  min-width: 5rem !important;
  max-width: 15rem !important;
}

.hoverFlow {
  overflow: hidden;
}

.hoverflow:hover {
  overflow: auto;
}

.dropdown {
  width: 100% !important;
}

.dropdown-item.selected {
  background-color: #28A366;
}

.dropdown-item:hover {
  background-color: #9dd661;
}

#sizeAlert {
  width: 100%;
  background-color: black;
  overflow: hidden;
  color: white;
  height: 0px;
}

#headContainer {
  display: flex;
  justify-content: center;
  background-color: #28A366;
  height: 100px;
  width: 100%;
  overflow: visible;
}

#themeHeader {
  display: flex;
  width: 1200px;
  height: 100%;
  flex-shrink: 0;
}
#themeHeader #logo {
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  background-image: url("../images/siteLogo.png");
}
#themeHeader #logo:hover {
  cursor: pointer;
  background-image: url("../images/logoHover.png");
}
#themeHeader #searchControl {
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#themeHeader #searchControl .alignedBox {
  height: 70px;
}
#themeHeader #searchControl .buttonUp .dropdown-toggle {
  height: 40px !important;
  width: 40px !important;
  background-image: url("../images/dropperBtn.png");
  background-size: 80% 80%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}
#themeHeader #searchControl .buttonUp .dropdown-toggle .filter-option {
  opacity: 0;
}
#themeHeader #searchControl .buttonUp .bootstrap-select.show .dropdown-toggle {
  background-color: grey;
}
#themeHeader #searchControl .buttonUp .dropdown-toggle::after {
  opacity: 0;
}
#themeHeader #searchControl .dropdown {
  width: 100% !important;
  height: 2rem;
}
#themeHeader #searchControl .dropdown-toggle {
  height: 40px !important;
  width: 3em !important;
}
#themeHeader #searchControl #maxPlayerGroup #videoMax {
  width: 3rem !important;
  height: 40px;
  border-radius: 15%;
}
#themeHeader #searchControl #maxPlayerGroup #videoMax:focus {
  outline-color: #9dd661;
}
#themeHeader #searchControl #locationLabel {
  height: 50px;
  width: 50px;
  background-image: url("../images/logoHover.png");
}
#themeHeader #searchControl #timeGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 30%;
}
#themeHeader #searchControl #timeGroup .bootstrap-datetimepicker-widget {
  width: 150% !important;
}
#themeHeader #searchControl #timeGroup #startDateInput {
  height: 100%;
}
#themeHeader #searchControl #timeGroup #endDateInput {
  height: 100%;
}
#themeHeader #searchControl #searchButton {
  border-radius: 15%;
  height: 75px;
  width: 75px;
  text-align: center;
  background-image: url("../images/faSearch.png");
  background-size: 80% 80%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-color: white;
  color: #9dd661;
  font-size: 4rem;
}
#themeHeader #searchControl #locationGroup {
  max-width: 15%;
}
#themeHeader #searchControl #sourceGroup {
  max-width: 15%;
}
#themeHeader #searchControl #playButton {
  background-size: 80% 80%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-image: url("../images/faPlay.png");
  background-color: white;
  outline: none;
  height: 75px;
  width: 75px;
  border: none;
  background-repeat: no-repeat;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}
#themeHeader #searchControl #playButton:active {
  outline: 2px solid #9dd661;
}
#themeHeader #searchControl #pauseButton {
  background-size: 80% 80%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-image: url("../images/faPause.png");
  background-color: white;
  outline: none;
  height: 75px;
  width: 75px;
  border: none;
  background-repeat: no-repeat;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}
#themeHeader #searchControl #pauseButton:active {
  outline: 2px solid #9dd661;
}
#themeHeader #playerControl {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
}
#themeHeader #iconGroup {
  width: 50px;
}
#themeHeader #iconGroup #infoIcon {
  height: 40px;
  width: 40px;
  margin-top: 9px;
  background-size: 80% 80%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-image: url("../images/faInfo.png");
  background-color: White;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-radius: 15%;
}
#themeHeader #iconGroup #infoIcon:active {
  outline: 2px solid #9dd661;
}
#themeHeader #iconGroup #languageSelector {
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  background-image: url("../images/languageIcon.png");
  background-color: Transparent;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
#themeHeader #iconGroup #languageSelector:active {
  outline: 2px solid #9dd661;
}
#themeHeader #iconGroup #linkShare {
  margin-bottom: 4px;
  margin-top: 2px;
  border-radius: 15%;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  display: flex;
}

#displayBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 83vh;
  padding-top: 5%;
}
#displayBox #introExplainer {
  margin-left: 15%;
}
#displayBox #introExplainer .tutorialRow {
  display: flex;
  border: 2px solid black;
  height: 15vh;
  width: 70%;
}
#displayBox #introExplainer .tutorialRow .tutorialImage {
  height: 100%;
  border: 2px solid black;
  width: 15vh;
}
#displayBox #introExplainer .tutorialRow .longTutorialImage {
  height: 100%;
  border: 2px solid black;
  width: auto;
}
#displayBox #introExplainer .tutorialRow .tutorialExplanation {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.customButton {
  background-size: 100% 100%;
  cursor: pointer;
  border: none;
}

.select2-selection--multiple {
  overflow: hidden !important;
  max-height: 12vh !important;
  min-height: 2rem !important;
}

.videoResult {
  position: relative;
  background-color: grey;
  background-image: url("../images/pixelStatic.png");
  background-size: 100% 100%;
  display: table;
}
.videoResult .videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-bottom: 45px solid transparent;
  border-image: url("../images/playerBorder.png") 40% stretch;
  pointer-events: none;
}
.videoResult .videoOverlay .arrangementBar {
  position: absolute;
  width: 10%;
  top: 33%;
  right: -15px;
  height: 33%;
  pointer-events: all;
  opacity: 0;
  background-color: #C9D6CF;
  display: flex;
  flex-direction: column;
}
.videoResult .videoOverlay .arrangementBar .removalButton {
  background-color: grey;
  background-image: url("../images/removeButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 2rem;
}
.videoResult .videoOverlay .arrangementBar:hover {
  opacity: 1;
}

body {
  background-color: #C9D6CF;
}
body button:hover {
  cursor: pointer;
}

.overlay {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

#alertBanner {
  height: 0;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  color: white;
  transition: height 2s;
  overflow: hidden;
}

.activeAlert {
  height: 5vh !important;
}

.languageButton {
  width: 20vh;
  height: 15vh;
}

.input-group-append {
  height: 2rem;
  width: 2rem;
}

.hidden {
  display: none;
}

.closableDiv {
  position: relative;
}

.closeButton {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: grey;
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  transition: opacity 0.5s;
  z-index: 5;
}

.closableDiv:hover .closeButton {
  opacity: 1;
}

.closeButton:hover {
  cursor: pointer;
}

.placard {
  font-size: 75%;
  text-align: center;
}

.select2-results {
  width: 200%;
}

.select2-results__options {
  background-color: white;
  width: 200%;
}

@media only screen and (max-width: 1199px) {
  #headContainer {
    min-width: 1200px;
  }

  #sizeAlert {
    height: 2rem;
    text-align: center;
  }
}

/*# sourceMappingURL=sample.css.map */
