

//Color Scheme
// $darkBack:#222831;
// $greyBack:#393e46;
// $flairColor:#d65a31;
// $lightBack:#eeeeee;


//Other than ones used in tutorial, images are stored here.  They use relative paths so just change the end, for example 'siteLogo.png' with the name of the image file you want to use and make sure it's in the images folder
$siteLogo:"../images/siteLogo.png";
$siteLogoHover:"../images/logoHover.png";



$playButton:"../images/faPlay.png";
$pauseButton:"../images/faPause.png";

$infoIcon:"../images/faInfo.png";
$languageIcon:"../images/languageIcon.png";
$dropdownBtn:"../images/dropperBtn.png";
$searchGlass:"../images/faSearch.png";


$playerBorder:"../images/playerBorder.png";
$pixelStatic:"../images/pixelStatic.png";
$removeButton:"../images/removeButton.png";
//Color Scheme
$mainColor:#0A100D;
$secondaryColor:#C9D6CF;
$flairColor:#28A366;
$requestColor:#9dd661;

.form-control:focus {
  border-color: $requestColor;
  box-shadow: inset 0 1px 1px $requestColor, 0 0 8px $requestColor;
}


button{
  background-color:white;
  border-radius:15%;
}
button:focus{
  outline-width: thick;
  outline-color:$requestColor !important;

}

.bootstrap-select .btn:focus {
    outline: none !important;
}



// .btn:focus{
//   outline-width: thick;
//   outline-color:$requestColor !important;
// }
//
// .bootstrap-select .dropdown-toggle:focus{
//   outline-width: thick;
//   outline-color:$requestColor !important;
// }
//
// select:active, select:hover {
//   outline-color: red
// }



.bootstrap-select{
  .dropdown-toggle:focus{
    outline:none !important;
  }
}


.dropdown-menu{
  min-width:5rem !important;
  max-width:15rem !important;
}
.hoverFlow{
  overflow:hidden;
}

.hoverflow:hover{
  overflow:auto;
}

.dropdown{
  width:100% !important;
}

.dropdown-item.selected{
  background-color:$flairColor;
}
.dropdown-item:hover{
  background-color:$requestColor;
}


#sizeAlert{
  width:100%;
  background-color:black;
  overflow:hidden;
  color:white;
  height:0px;
}

#headContainer{
  display:flex;
  justify-content:center;
  background-color:$flairColor;
  height:100px;
  width:100%;
  overflow:visible;
}
#themeHeader{
  display:flex;
  width:1200px;

  height:100%;
  flex-shrink:0;
  // align-items: center;

  #logo{
    // width:16vh;
    // height:16vh;
    width:100px;
    height:100px;
    background-size:100% 100%;
    background-image:url($siteLogo);
    //margin-left:3vh;


  }

  #logo:hover{
    cursor:pointer;
    background-image:url($siteLogoHover);
  }

  #searchControl{

    width:1050px;
    display:flex;

    align-items:center;
     justify-content:space-evenly;

     .alignedBox{
       height:70px;
     }
     .buttonUp{
       .dropdown-toggle{
         // width:100% !important;
          height:40px !important;
         width:40px !important;
         background-image:url($dropdownBtn);
         background-size:80% 80%;
         background-position: center; /* Center the image */
         background-repeat: no-repeat; /* Do not repeat the image */
         .filter-option{
           opacity:0;
         }
       }
       .bootstrap-select.show{
         .dropdown-toggle{
           background-color:grey;
         }
       }
       .dropdown-toggle::after{
         opacity:0;
       }
     }




       // .select2{
       //   width:100% !important;
       // }

       .dropdown{
         width:100% !important;
         height:2rem;

         // .btn{
         //   height:2rem !important;
         // }
       }

       .dropdown-toggle{
         // width:100% !important;
          height:40px !important;
         width:3em !important;

       }


     // #layoutGroup{
     //   width:4em;
     //
     //
     //   // .select2{
     //   //   width:100% !important;
     //   // }
     //
     //   .dropdown{
     //     width:100% !important;
     //     height:2rem;
     //
     //     // .btn{
     //     //   height:2rem !important;
     //     // }
     //   }
     //
     //   .dropdown-toggle{
     //     // width:100% !important;
     //      height:40px !important;
     //     width:3em !important;
     //
     //   }
     // }
     #maxPlayerGroup{



       #videoMax{
         width:3rem !important;
         height:40px;
         border-radius:15%;

       }
       #videoMax:focus{
         outline-color:$requestColor;
       }
     }


     #locationLabel{
       height:50px;
       width:50px;
       background-image:url($siteLogoHover);
     }
    #timeGroup{
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:100%;
      position:relative;
      width:30%;
      // min-width:10rem;
      // max-width:60%;
      .bootstrap-datetimepicker-widget{

        width:150% !important;
      }
      #startDateInput{
        height:100%;
      }

      #endDateInput{height:100%;}


    }

    #searchButton{
      //max-width:10%;
      border-radius: 15%;
      //height:1.3rem;
      height:75px;
      width:75px;
      text-align:center;

      background-image:url($searchGlass);
      background-size:80% 80%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      //margin-bottom: -15vh;
      // width:16%;
      // height:60%;
      background-color:white;
      color:$requestColor;
      font-size:4rem;

    }

    #locationGroup{
      max-width:15%;
    }

    #sourceGroup{
      max-width:15%;
    }

    #playButton{

      background-size:80% 80%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-image:url($playButton);
      background-color: white;
       outline:none;
      height:75px;
      width:75px;
      border:none;
      background-repeat: no-repeat;
      padding: 1px 6px;
    border-width: 2px;
    border-style: outset;

    border-image: initial;
    }

    #playButton:active{

      // background-size:90% 90%;
      outline:2px solid $requestColor;

    }

    #pauseButton{

      background-size:80% 80%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-image:url($pauseButton);
      background-color: white;
       outline:none;
      height:75px;
      width:75px;
      border:none;
      background-repeat: no-repeat;
      padding: 1px 6px;
    border-width: 2px;
    border-style: outset;

    border-image: initial;

    }
    #pauseButton:active{
    // background-size:80% 80%;
    outline:2px solid $requestColor;

    }

  }

  #playerControl{

    display:flex;
    width:100px;
    //background-color:$mainColor;
    align-items: center;
    justify-content: space-evenly;


    // .select2{
    //   width:100% !important;
    // }









  }

  #iconGroup{

    width:50px;
    #infoIcon{
      height:40px;
      width:40px;
      margin-top:9px;
      //margin-right:3vh;
      background-size:100% 100%;
      background-image:url($infoIcon);
      background-color: White;
      outline:none;
      border:none;
      background-repeat: no-repeat;
      cursor:pointer;
      padding: 1px 6px;
    border-width: 2px;
    border-style: outset;

    border-image: initial;
    border-radius:15%;
    }
    #infoIcon:active{

      // background-size:95% 95%;
      outline:2px solid $requestColor;

    }

    #languageSelector{
      height:50px;
      width:50px;

    //  margin-right:3vh;
      background-size:100% 100%;
      background-image:url($languageIcon);
      background-color: Transparent;
      outline:none;
      border:none;
      background-repeat: no-repeat;
      cursor:pointer;

    }
    #languageSelector:active{
      // background-size:90% 90%;
      outline:2px solid $requestColor;
    }
    #linkShare{
      margin-bottom:4px;
      margin-top:2px;
      border-radius:15%;
      height:40px;
      width:40px;
      font-size:2rem;
      display:flex;
    }

  }

}





#displayBox{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

  height:83vh;
  padding-top:5%;
  //align-items:flex-start;
  //align-content:flex-start;
  // .videoResult{
  //   flex-grow:1;
  //   width:50%;
  // }

  #introExplainer{
    margin-left:15%;
    .tutorialRow{
      display:flex;
      border:2px solid black;
      height:15vh;
      width:70%;

      .tutorialImage{
        height:100%;
        // background-size:100% 100%;
        // background-image:url('../images/logoSample.png');
        border:2px solid black;


        width:15vh;


      }
      .longTutorialImage{
        height:100%;
        // background-size:100% 100%;
        // background-image:url('../images/logoSample.png');
        border:2px solid black;


        width:auto;


      }

      .tutorialExplanation{
        height:100%;
        width:100%;
        overflow:auto;

      }
    }
  }

}



  .customButton{
    background-size:100% 100%;
    cursor:pointer;
    border:none;

  }
  .customButton:hover{

  }




.select2-selection--multiple{
  overflow:hidden !important;
  max-height: 12vh !important;
  min-height:2rem !important;
}

//Checkbox stuff done

.videoResult{
  position:relative;
  background-color:grey;
  background-image:url($pixelStatic);
  background-size:100% 100%;
  display:table; //'height:Fit-content' works here as well and is clearer but display:table functions on edge
  .videoOverlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 15px solid transparent;
    border-bottom:45px solid transparent;
    border-image:url($playerBorder) 40% stretch;
    pointer-events: none;
    .arrangementBar{
      position: absolute;
      width: 10%;
      top: 33%;
      right: -15px;
      height: 33%;
      pointer-events: all;
      opacity: 0;
      background-color: $secondaryColor;
      display:flex;
      flex-direction:column;
      .removalButton{
        background-color:grey;
        background-image:url($removeButton);
        background-size:contain;
        background-repeat:no-repeat;
        border:1px solid black;
        height:2rem;
      }
    }
    .arrangementBar:hover{
      opacity:1;
    }
  }
}


body{
  background-color:$secondaryColor;
  button:hover{
    cursor:pointer;
  }
}

.overlay{
  position:fixed !important;
  height:100vh;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.3);
  top:0;
  left:0;

}

#alertBanner{
  height:0;
  position:fixed;
  width:100%;
  top:0;
  text-align:center;
  background-color:black;
  opacity:.8;
  color:white;
  transition: height 2s;
  overflow:hidden;
}

.activeAlert{
  height:5vh !important;
}


.languageButton{
  width:20vh;
  height:15vh;
}

.input-group-append{
  height:2rem;
  width:2rem;
}

.hidden{
  display:none;
}

.closableDiv{
  position:relative;

}

.closeButton{
  opacity:0;
  position:absolute;
  top:10px;
  right:10px;
  height:25px;
  width:25px;
  background-color:grey;
  background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size:contain;
  background-repeat:no-repeat;
  border:1px solid black;
  transition:opacity .5s;
  z-index:5;

}

.closableDiv:hover{
  .closeButton{
    opacity:1;
  }
}
.closeButton:hover{
  cursor:pointer;
}



.placard{
  font-size:75%;
  text-align:center;
}

.select2-results{
  width:200%;
}
.select2-results__options{
  background-color:white;
  width:200%;
}

@media only screen and (max-width: 1199px) {

  #headContainer{
    min-width:1200px;
    // justify-content:flex-start;

  }
  #sizeAlert{
    height:2rem;
    text-align:center;}
}
